{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/monstyle.css') }}">
{% endblock %}

{% block body %}
    {% if gagnant is not empty %}
    {% if gagnant == user %}
        <div class="popup"><p class="gagne">Vous avez gagné!</p></div>
    {% else %}
        <div class="popup"><p class="perdu">Vous avez perdu!</p></div>
    {% endif %}
    {% endif %}
<div id="plateau" class="container mb-3">
    <div class="mainJ2 row mb-2">
        {% for idCarte in  mainJ2 %}
            <div class="carteMain couleurCarte"
                 style="background-color:dimgrey;"><img src="{{ asset('assets/images/dos.png') }}" alt=""></div>
        {% endfor %}
    </div>
    <div class="tuilesJ2 row">
        {% for i in tuileJ2 %}
            {% if i==0 %}
                <div class="tuile"></div>
            {% else %}
            <div class="tuile" style="background-image: url('/jeu/assets/images/blason_{{ i }}.png')"></div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="cartesJ2 mb-5">
        {% for j in 1..3 %}
            <div class="ligne row cartePosee{{ j }}">
                {% for i in 1..9 %}
                    {% if terrainJ2[i][j]==0 %}
                        <div class="carte droppable" data-ligne="{{ j }}" data-colonne="{{ i }}">-</div>
                    {% else %}
                        <div class="carte"><img src="/jeu/assets/images/{{ cartes[terrainJ2[i][j]].image}}" alt="carte posée" style="width:111px;"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="tuiles row">
        {% for t in tuile %}
            <div class="tuile" style="background-image: url('/jeu/assets/images/blason_{{ t }}.png')"></div>
        {% endfor %}
    </div>
    <div class="cartesJ1 mt-5">
        {% for j in 1..3 %}
            <div class="ligne row cartePoseeB{{ j }}">
                {% for i in 1..9 %}
                    {% if terrainJ1[i][j]==0 %}
                        <div class="carte droppable" data-ligne="{{ j }}" data-colonne="{{ i }}"></div>
                        {% else %}
                            <div class="carte">
                                <img src="/jeu/assets/images/{{ cartes[terrainJ1[i][j]].image}}" alt="carte posée" style="width:111px;"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="tuilesJ1 row">
        {% for i in tuileJ1 %}
            {% if i==0 %}
                <div class="tuile"></div>
            {% else %}
                <div class="tuile" style="background-image: url('/jeu/assets/images/blason_{{ i }}.png')"></div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="mainJ1 row mt-2"><br>
        {% for idCarte in  mainJ1 %}
            <div class="carteMain draggable couleurCarte" style="background-image: url('/jeu/assets/images/{{ cartes[idCarte].image}}')"
                 data-carte="{{ cartes[idCarte].id }}">
                {{ cartes[idCarte].puissance }}
            </div>

        {% endfor %}
    </div>

</div>
{% endblock body %}



    {% block javascripts %}




        {#condition pour connaitre le joueur actif et lier le tour au joueur  (necessité de transformer le joueur1 en pseudo lié à l'id)  #}
        {% if gagnant is empty %}


        {% if user == joueur1 %}

            {% if tour == 1 %}
                {{ parent() }}
                <script>
                    $( function() {
                        $( ".draggable" ).draggable({ revert: 'invalid' });
                        $( ".droppable" ).droppable({
                            accept: ".draggable",
                            classes: {
                                "ui-droppable-active": "ui-state-active",
                                "ui-droppable-hover": "ui-state-hover"
                            },
                            drop: function( event, ui ) {
                                $(this).addClass("ui-state-highlight")
                                $('.draggable').removeClass("draggable", "ui-state-active")
                                $('.ui-state-active').removeClass("ui-state-active")

                                console.log('je viens de dropper')
                                $.ajax({
                                    url: "{{ path('depose_carte', {idPartie:partie.id }) }}",
                                    method: 'POST',
                                    data: {
                                        carte: ui.draggable.data('carte'),//data-carte dans le HTML pour chaque carte
                                        colonne: $(this).data('colonne'), //colonne du plateau de jeu data-colonne
                                        ligne: $(this).data('ligne') //ligne du plateau de jeu data-ligne
                                    },

                                    success: function(){

                                    }
                                })

                            }
                        });
                    } );
                </script>
            {% endif %}

        {% endif %}


        {% if user == joueur2 %}

            {% if tour == 2 %}
                {{ parent() }}
                <script>
                    $( function() {
                        $( ".draggable" ).draggable({ revert: 'invalid' });
                        $( ".droppable" ).droppable({
                            accept: ".draggable",
                            classes: {
                                "ui-droppable-active": "ui-state-active",
                                "ui-droppable-hover": "ui-state-hover"
                            },
                            drop: function( event, ui ) {
                                $(this).addClass("ui-state-highlight")
                                $('.draggable').removeClass("draggable", "ui-state-active")
                                $('.ui-state-active').removeClass("ui-state-active")

                                console.log('je viens de dropper')
                                $.ajax({
                                    url: "{{ path('depose_carte', {idPartie:partie.id }) }}",
                                    method: 'POST',
                                    data: {
                                        carte: ui.draggable.data('carte'),//data-carte dans le HTML pour chaque carte
                                        colonne: $(this).data('colonne'), //colonne du plateau de jeu data-colonne
                                        ligne: $(this).data('ligne') //ligne du plateau de jeu data-ligne
                                    },

                                    success: function(){

                                    }
                                })

                            }
                        });
                    } );
                </script>
            {% endif %}

        {% endif %}
        {% endif %}
    {% endblock %}


