{% extends 'base.html.twig' %}

{% block title %}Hello PartieController!{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleJ.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets/images/logo.svg') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

{% block body %}
    {{ ratio }}
    <div class="container">


        <!--HEADER-->

        <header id="header">
            <div class="logo center_div2"><img src="{{ asset('assets/images/jeu_logo.png') }}" alt="logo"/></div>
        </header>

        <!--FIN HEADER-->
        <!--BOUTON JOUER-->

        <div class="jouer center_div2">
            <img src="{{ asset('assets/images/fleche_gauche.png') }}" alt="fleche gauche"/>
            {% if role == 'ROLE_ADMIN' %}
                <a href="{{ path('easyadmin') }}"><button type="button" class="btn btn-danger btn-decouvrir">Gestion</button></a>
                {% else %}
                    <button type="button" class="btn btn-danger btn-decouvrir">JOUER</button>
            {% endif %}
            <img src="{{ asset('assets/images/fleche_droite.png') }}" alt="fleche droite"/>
        </div>

        <!--FIN BOUTON JOUER-->
        <!--INFORMATIONS PERSONNAGE-->

        <div class="infos center_div3">
            <div class="infos_container">
                <div class="row infosl1">
                    <span class="pseudo">{{ joueurco }}</span>
                    <span class="nbparties">Nombre de parties jouées : {{ perdu + gagne }}</span>
                </div>
                <div class="row infosl2">

                    {% if total < 5 %}
                        <img src="{{ asset('assets/images/perso1.png') }}" alt="image de bébé" class="infos_img"/>
                        {% else %}
                        <img src="{{ asset('assets/images/') }}perso{{ image }}.png">
                    {% endif %}
                    
                    <div class="stats">
                        <div class="row stats1">
                            <span class="winloss">Victoires</span>
                            <span class="winloss">Défaites</span>
                        </div>
                        <div class="row stats2">
                            <img src="{{ asset('assets/images/fleche_victoire.png') }}" alt="fleche gauche"/>
                            <span class="win">{{ gagne }}</span>
                            <img src="{{ asset('assets/images/fleche_defaite.png') }}" alt="fleche droite"/>
                            <span class="loss">{{ perdu }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infos_container2 mt-3">
                <span class="pseudo">Modifier les informations</span>
                <form class="center_div3" method="post" action="{{ path('app_modif') }}">
                    <input class="modifierCompte" name="pseudo" type="text" placeholder="pseudo" value="{{ joueurco }}"/>
                    <input class="modifierCompte" type="text" placeholder="mail" value="{{ mail }}" disabled/>
                    <button type="submit" class="btn btn-danger btn-decouvrir mt-2">Valider</button>
                </form>
            </div>
        </div>

        <!--FIN INFORMATIONS PERSONNAGE-->



        <!--LISTE DES PARTIES-->

        <div class="parties">
            <div class="parties_gauche">
                <h2>Listes des parties en cours</h2>
                <img src="{{ asset('assets/images/fleche_noire.png') }}" alt="fleche noire" class="delimiteur"/>

                <div class="thead">
                    <span>Partie</span>
                    <span>Joueur</span>
                    <span>Cours</span>
                </div>

                <!--BOUCLE PARTIES EN COURS-->


                    {% for partie in parties[0] %}
                    <div class="tbody">
                        <div class="parties_partie"><a href="{{ path('afficher_partie', {idPartie:partie.id}) }}">Acceder</a></div>
                        <div class="parties_joueur">{{ partie.joueur2.username }}</div>
                        <div class="parties_cours" style="color: green;">Partie créée</div>
                    </div>
                    {% endfor %}
                    {% for partie in parties[1] %}
                    <div class="tbody">
                        <div class="parties_partie"><a href="{{ path('afficher_partie', {idPartie:partie.id}) }}">Acceder</a></div>
                        <div class="parties_joueur">{{ partie.joueur2.username }}</div>
                        <div class="parties_cours" style="color: green;">Partie rejoins</div>
                    </div>
                    {% endfor %}




                <!--FIN BOUCLE PARTIES EN COURS-->

            </div>
            <div class="parties_droite">


                <h2 >Créer une partie</h2>
                <img src="{{ asset('assets/images/fleche_noire.png') }}" alt="fleche noire" class="delimiteur"/>
                <form action="{{ path('nouvelle_partie') }}" method="POST">
                    <div class="form-group">
                        <label for="adversaire">choix de l'adversaire</label>
                        <select name="adversaire" id="adversaire" class="form-control">
                            <option value="">Choisir l'adversaire</option>
                            {% for joueur in joueurs if joueur.username != app.user.username %}
                                <option value="{{ joueur.id }}">{{ joueur.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger btn-decouvrir">Créer la partie</button>
                    </div>
                </form>
                <a href="{{ path('app_logout') }}"><button type="submit" class="btn btn-danger btn-decouvrir mt-3">Déconnexion</button></a>
            </div>
        </div>

        <!--FIN LISTE DES PARTIES-->


        <!--FOOTER-->

        <footer>
            <div class="container jeu_footer mt-5">
                <div class="row">
                    <div class="col-lg-12 center_div2 mb-4">
                        <img src="{{ asset('assets/images/logo.png') }}" alt="logo" class="logo_nav"/>
                    </div>
                </div>

                <div class="row mt-4 center_div2">
                    <div class="col-lg-4 center_div4">
                        <p>Templar order</p>
                        <ul>
                            <li v-if="language=='fr'" class="footer_li_centered"><a href="#header">Accueil</a></li>
                            <li v-if="language=='en'" class="footer_li_centered"><a href="#header">Home</a></li>
                            <li class="footer_li_centered"><a href="../">Agence DATA</a></li>
                            <li v-if="language=='fr'" class="footer_li_centered"><a href="../promo">Site officiel</a></li>
                            <li v-if="language=='en'" class="footer_li_centered"><a href="../promo">Official website</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 center_div4">
                        <p v-if="language=='fr'">Réseaux sociaux</p>
                        <p v-if="language=='en'">Social media</p>
                        <ul>
                            <li><a href="https://www.facebook.com/Templar-111711846897356/" target="_blank"><img src="{{ asset('assets/images/fb.svg') }}" class="mr-2"/> Facebook</a></li>
                            <li><a href="https://twitter.com/Templar08600386" target="_blank"><img src="{{ asset('assets/images/twitter.svg') }}" class="mr-2"/> Twitter</a></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!--FIN FOOTER-->




        {#<div>#}
            {#<h1>Liste des parties</h1>#}
            {#<ul>#}

                {#{% for partie in parties[0] %}#}

                    {#<li><a href="{{ path('afficher_partie', {idPartie:partie.id}) }}">Accéder à la partie contre {{ partie.joueur2.username }}</li>#}
                {#{% endfor %}#}
                {#{% for partie in parties[1] %}#}

                    {#<li><a href="{{ path('afficher_partie', {idPartie:partie.id}) }}">Accéder à la partie contre {{#}
                        {#partie.joueur1.username }}</li>#}
                {#{% endfor %}#}
            {#</ul>#}
        {#</div>#}

        <script>
            var vue1 = new Vue({
                "el": ".container",
                "data": {
                    language: "fr"
                },
            })
        </script>
    </div>
{% endblock %}
